:root {
    --navbar-height: 50px;
    --device-height: 100dvh
}

.dvh-100 {
    height: 100dvh;
}
.navbar-bottom {
    grid-template-rows: calc( var( --device-height, 100vh ) - var(--navbar-height) ) var(--navbar-height);
}
.nav-bottom {
    grid-template-columns: repeat( 5, 1fr );
}