:root {
    --navbar-height: 50px;
    --device-height: 100vh
}

@supports ( height:100dvh ) {
    :root {
        --device-height: 100dvh
    }
}

.dvh-100 {
    height: var(--device-height);
}
.navbar-bottom {
    grid-template-rows: calc( var( --device-height ) - var(--navbar-height) ) var(--navbar-height);
}
.nav-bottom {
    grid-template-columns: repeat( 5, 1fr );
}